/*!
 *  Hack v2.019 - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: 'Hack';
  src: url('hack/eot/latin/hack-regular-latin-webfont.eot?v=2.019');
  src: url('hack/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.019') format('embedded-opentype'), url('hack/woff2/latin/hack-regular-latin-webfont.woff2?v=2.019') format('woff2'), url('hack/woff/latin/hack-regular-latin-webfont.woff?v=2.019') format('woff'), url('hack/web-ttf/latin/hack-regular-latin-webfont.ttf?v=2.019') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('hack/eot/latin/hack-bold-latin-webfont.eot?v=2.019');
  src: url('hack/eot/latin/hack-bold-latin-webfont.eot?#iefix&v=2.019') format('embedded-opentype'), url('hack/woff2/latin/hack-bold-latin-webfont.woff2?v=2.019') format('woff2'), url('hack/woff/latin/hack-bold-latin-webfont.woff?v=2.019') format('woff'), url('hack/web-ttf/latin/hack-bold-latin-webfont.ttf?v=2.019') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('hack/eot/latin/hack-italic-latin-webfont.eot?v=2.019');
  src: url('hack/eot/latin/hack-italic-latin-webfont.eot?#iefix&v=2.019') format('embedded-opentype'), url('hack/woff2/latin/hack-italic-latin-webfont.woff2?v=2.019') format('woff2'), url('hack/woff/latin/hack-italic-latin-webfont.woff?v=2.019') format('woff'), url('hack/web-ttf/latin/hack-italic-latin-webfont.ttf?v=2.019') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('hack/eot/latin/hack-bolditalic-latin-webfont.eot?v=2.019');
  src: url('hack/eot/latin/hack-bolditalic-latin-webfont.eot?#iefix&v=2.019') format('embedded-opentype'), url('hack/woff2/latin/hack-bolditalic-latin-webfont.woff2?v=2.019') format('woff2'), url('hack/woff/latin/hack-bolditalic-latin-webfont.woff?v=2.019') format('woff'), url('hack/web-ttf/latin/hack-bolditalic-latin-webfont.ttf?v=2.019') format('truetype');
  font-weight: 700;
  font-style: italic;
}
