@font-face
{
	font-family: 'Ubuntu-B';
	src: url(extra/Ubuntu-B.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: 'Ubuntu-BI';
	src: url(extra/Ubuntu-BI.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: 'Ubuntu-C';
	src: url(extra/Ubuntu-C.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: 'Ubuntu-L';
	src: url(extra/Ubuntu-L.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: 'Ubuntu-LI';
	src: url(extra/Ubuntu-LI.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: 'Ubuntu-M';
	src: url(extra/Ubuntu-M.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: 'Ubuntu-MI';
	src: url(extra/Ubuntu-MI.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: 'Ubuntu-R';
	src: url(extra/Ubuntu-R.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: 'Ubuntu-RI';
	src: url(extra/Ubuntu-RI.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}
