
/*
Copyright (C) 2016 DBot

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

html, body
{
	padding: 0;
	margin: 0;
	overflow: visible;
	font-family: Roboto, Arial;
	-webkit-font-smoothing: none;
	background-color: transparent;
}

body
{
	text-shadow: none;
}

p
{
	display: inline;
	-webkit-font-smoothing: none;
}

#chat
{
	width: 600px;
	height: 250px;
	padding: 2px;
	background: rgba(40, 40, 40, 0.5);
}

#servername
{
	width: 594px;
	display: block;
	height: 24px;
	background: rgba(40, 40, 40, 0.7);
	color: white;
	padding-left: 10px;
	padding-top: 6px;
}

#servername_s
{
	vertical-align: middle;
	display: inline-block;
}

#contents
{
	background: rgba(100, 100, 100, 0.8);
	color: white;
	margin: 5px;
	margin-right: 7px;
	height: 188px;
	padding: 8px;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 14px;
	-webkit-font-smoothing: none;
	opacity: 0.99;
	word-wrap: break-word;
}

#contents_hidden
{
	color: white;
	margin: 5px;
	margin-right: 7px;
	height: 188px;
	padding: 8px;
	overflow: hidden;
	font-size: 14px;
	-webkit-font-smoothing: none;
	opacity: 0.99;
	display: none;
	word-wrap: break-word;
}

.chatentry
{
	display: block;
	width: auto;
	vertical-align: middle;
}

.chatentry p
{
	height: auto;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	margin-left: 3px;
}

.entry_hide
{
	background: rgba(0, 0, 0, 0.6);
}

.link
{
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px dashed;
	margin-right: 3px;
	vertical-align: middle;
}

.avatar_a
{
	text-decoration: none;
	border-bottom: none;
	margin-right: 0;
	margin-left: 0;
	vertical-align: middle;
}

.avatar
{
	cursor: pointer;
	width: 32px;
	height: 32px;
	margin-right: 0;
	margin-left: 0;
	vertical-align: middle;
}

.chatimg {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
}

.smile {
	max-width: 64px;
	max-height: 64px;
}

.emojione {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

#input
{
	text-align: left;
	background: #757575;
	color: white;
	border: none;
	width: 100%;
	height: 25px;
	resize: none;
	padding: 3px;
	transition: .3s ease-in-out 0s;
	-webkit-transition: .3s ease-in-out 0s;
	display: block;
	float: left;
}

#send
{
	height: 25px;
	display: block;
	border: none;
	width: 70px;
	font-size: 13px;
	font-weight: 600;
	background: #757575;
	transition: .3s ease-in-out 0s;
	-webkit-transition: .3s ease-in-out 0s;
	color: white;
}

#send:hover
{
	background: rgb(170, 170, 170);
}

#send:active
{
	background: rgb(200, 200, 200);
	transition: none;
}

#sendtd
{
	height: 25px;
	width: 70px;
}

#smiletd
{
	height: 24px;
	width: 34px;
}

#input:focus
{
	box-shadow: 0 0 3px rgba(136, 255, 112, 0.5);
}

#smile
{
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: rgb(130, 130, 130);
	transition: .3s;
	-webkit-transition: .3s;
}

#smile:hover
{
	background: rgb(140, 140, 140);
}

#smiles
{
	position: absolute;
	display: none;
	background: rgb(245, 245, 245);
	width: 500px;
	height: 230px;
	top: 10px;
	left: 0;
	margin-left: 320px;
	z-index: 20;
}

#smiles_top_hover
{
	width: 100%;
	height: 20px;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	text-align: center;
}

#smiles_top
{
	width: 100%;
	height: 80px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	display: none;
	position: absolute;
	margin: 0;
	overflow-y: scroll;
}

#smiles_top_hover:hover #smiles_top
{
	display: block;
}

#smiles_body
{
	width: 100%;
	height: 90%;
	display: block;
}

.smiles_div
{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	display: none;
}

.smiles_select
{
	width: auto;
	height: 20xp;
	display: block;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	padding-top: 3px;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
	word-wrap: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}

.smiles_select:hover
{
	background: rgba(0, 0, 0, 0.4);
}

.simg
{
	min-width: 16px;
	min-height: 16px;
	cursor: pointer;
	margin: 2px;
}

.simg_emoji {
	max-width: 32px;
	max-height: 32px;
}

.sspan:hover .sinfo
{
	display: block;
}

.sinfo
{
	display: none;
	position: fixed;
	top: 260px;
	left: 10px;
	background: white;
	box-shadow: 0 0 3px white;
	padding: 6px;
}

.sspan
{
	display: inline-block;
}

#settings
{
	display: inline-block;
	position: fixed;
	left: 604px;
	top: 0;
	width: 34px;
	height: 34px;
	padding: 2px;
	background: rgba(40, 40, 40, 0.7);
	transition: .5s;
	-webkit-transition: .5s;
	cursor: pointer;
}

#settings:hover
{
	background: rgba(150, 150, 150, 0.4);
}

#gear
{
	width: 100%;
	height: 100%;
}

#settings_div
{
	display: none;
	position: fixed;
	top: 0;
	left: 20px;
	width: 580px;
	height: 280px;
	background: white;
	overflow: hidden;
	padding: 0;
}

#settings_top
{
	width: 100%;
	height: 23px;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding-top: 2px;
	font-weight: 700;
	color: white;
}

#settings_body
{
	display: block;
	width: 100%;
	overflow-y: scroll;
	height: 260px;
	background: rgb(235, 235, 235);
	text-align: center;
}

#settings_font
{
	overflow-y: scroll;
	height: auto;
	min-height: 50px;
	width: 100%;
	text-align: left;
	padding-left: 5px;
}

.setting
{
	margin: 2px;
	cursor: pointer;
	transition: .3s;
	-webkit-transition: .3s;
	text-align: left;
	padding-left: 3px;
	padding-right: 3px;
}

.setting span
{
	display: inline-block;
	float: right;
}

.setting:hover
{
	background: rgba(0, 0, 0, 0.4);
	color: white;
}

.fontselect
{
	margin: 2px;
	cursor: pointer;
	transition: .3s;
	-webkit-transition: .3s;
}

.fontselect_text
{
	display: none;
	float: right;
	width: auto;
}

.fontselect_fox
{
	display: none;
	float: right;
	width: auto;
	position: fixed;
	z-index: 10;
	background: white;
	padding: 8px;
	top: 280px;
	box-shadow: 0 0 3px white;
	color: black;
}

.fontselect:hover .fontselect_text
{
	display: inline-block;
}

.fontselect:hover .fontselect_fox
{
	display: block;
}

.fontselect:hover
{
	background: rgba(0, 0, 0, 0.4);
	color: white;
}

.mtime
{
	color: #79BFFF;
}

.sconfirm
{
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
	color: black;
	font-weight: 700;
	font-size: 14px;
	overflow: visible;
	margin-top: 10px;
}

.sbuild
{
	border: none;
	background: rgba(0, 0, 0, 0.4);
	transition: .5s;
	-webkit-transition: .5s;
	display: block;
	width: 40%;
	margin: 0 auto;
	color: white;
	font-weight: 800;
	font-size: 18px;
}

.sbuild:hover
{
	background: rgba(150, 150, 150, 0.4);
}

.sbuild:active
{
	transition: .0s;
	-webkit-transition: .0s;
	background: rgba(200, 200, 200, 0.4);
}

#danger
{
	display: block;
	margin: 5px 0px 5px 0px;
	font-weight: 800;
	font-size: 24px;
	color: rgb(200, 40, 0);
	width: 100%;
}

.dbutton
{
	background-image: url('arrows.svg');
	transition: .5s;
	-webkit-transition: .5s;
	color: black;
	background-color: rgb(200, 170, 170);
	border: solid 1px rgb(245, 245, 245);
	font-weight: 800;
	font-size: 18px;
	height: auto;
	padding: 5px 20px 5px 20px;
	
	animation: danger_anim 15s steps(5000) infinite;
	-webkit-animation: danger_anim 15s steps(5000) infinite;
	margin: 4px;
	display: inline-block;
}

.dbutton:hover
{
	background-color: rgb(200, 40, 0);
	color: white;
	animation: danger_anim 4s steps(5000) infinite;
	-webkit-animation: danger_anim 4s steps(5000) infinite;
}

.dbutton:hover .dbutton_confirm
{
	display: block;
}

.dbutton_confirm
{
	padding: 8px;
	background: white;
	cursor: pointer;
	display: none;
	width: auto;
	height: auto;
	color: black;
	transition: .5s;
	-webkit-transition: .5s;
	margin-top: 20px;
	cursor: pointer;
}

.dbutton_confirm:hover
{
	background: rgb(230, 10, 0);
	color: white;
}

@keyframes danger_anim 
{
	from
	{
		background-position: 0;
	}
	to
	{
		background-position: 380px;
	}
}

@-webkit-keyframes danger_anim 
{
	from
	{
		background-position: 0;
	}
	to
	{
		background-position: 380px;
	}
}

#clear
{
	position: fixed;
	top: 6px;
	left: 450px;
	display: block;
	width: 120px;
	font-size: 12px;
}

#clear img
{
	cursor: pointer;
	display: inline-block;
	float: right;
}
